* {
	margin: 0;
	height: 0;
}
body {
	background-color: #f5f8fa;
}

a {
	color: #666999;
	text-decoration: none;
}
a.login {
	font-size: 1.1em;
}
header {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	border-bottom: 0.5px solid #c9c9c9;
}
#tooltip {
	width: 300px;
	height: 100px;
	background-color: #ffffff;
	border: 1px solid #c9c9c9;
	box-shadow: 0 5px 15px #ccc; 
	position: absolute;
	visibility: hidden;
}
#tooltip::after {
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	content: '';
	position: absolute;
	transform: rotate(45deg);
	margin-top: -11px;
	margin-left: 120px;
}
#thumbnail {
	width: 100px;
	height: 80px;
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #999999;
}
#artist-info {
	width: 170px;
	height: 60px;
	margin-top: 25px;
	background-color: #333;
	position: absolute;
	margin-left: 120px;
}
#overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	visibility: hidden;
	z-index: 1000;
}

#signup {
	width: 640px;
	height: 320px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	margin-top: 100px;
	z-index: 1000;	
}
#login-text-top {
	width: 400px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}
#login-input {
	width: 320px;
	height: 170px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
input[name='email']{
	width: 270px;
	height: 30px;
	background-image: url(../icons/email-icon.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 20px;
	margin-top: 20px;
	font-size: .9em;
	border: 2px solid #777;
}

input[name='password']{
	width: 270px;
	height: 30px;
	font-size: .9em;
	background-image: url(../icons/psw-icon.png);
	background-repeat: no-repeat;
	background-position: right;
	border: 2px solid #777;
	padding-left: 20px;
	margin-top: 20px;
}
input[name='loginButton']{
	width: 300px;
	height: 30px;
	border: none;
	background-color: #099;
	color: #ffffff;
	font-size: 1em;
	font-weight: lighter;
	cursor: pointer;
	margin-top: 20px;
}
h3 {
	margin-top: 20px;
}
h3 a {
	color: #333;
	font-size: 1em;
	text-decoration: underline;
	font-weight: lighter;
}
#signup-close {
	width: 30px;
	height: 30px;
	background-image: url(../icons/close-signup.png);
	background-color: #666699;
	border-radius: 100%;
	position: absolute;
	left: 610px;
	top: -40px;
	cursor: pointer;
}
#signup-close:hover {
	background-color: red;
}
#top-navigation {
	width: 1024px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
#menus {
	width: 60px;
	height: 40px;
	margin-top: 5px;
	margin-left: 20px;
	position: absolute;
	cursor: pointer;
	float: left;
	background-color: #666699;
	background-image: url(../icons/menu.png);
}

#drop-navigation {
	width: 250px;
	height: 500px;
	margin-left: -5px;
	margin-top: 70px;
	background-color: #ffffff;	
	background-position: bottom;
	position: absolute;
	visibility: hidden;
}
#close {
	width: 25px;
	height: 25px;
	float: right;
	cursor: pointer;
	margin: 5px 10px;
	transform: rotate(45deg);
	border-left: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}
#drop-navigation ul {
	float: left;
}
#drop-navigation ul li {
	width: 230px;
	height: 40px;
	list-style-type: none;
	margin-left: -30px;
	margin-top: 5px;
	opacity: 0.9;
}
#drop-navigation ul li:hover {
	background-color: #f1f1f1;
	border-radius: 20px;
}
#drop-navigation ul li a {
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
	color: #323232;
	font-size: 1.1em;
}
#search-wrapper {
	width: 220px;
	height: 40px;
	position: absolute;
	margin-left: 27%;
}

#login-or-user-account{
	width: 50px;
	height: 30px;
	cursor: pointer;
	background-image: url(../icons/zt-user.png);
	background-repeat: no-repeat;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
#login-desktop {
	width: 100px;
	height: 30px;
	float: right;
	margin-top: 15px;
}
input[name="search"] {
	width: 100%;
	height: 27px;
	background-color: #f5f8fa;
	background-image: url(../icons/search.png);
	background-repeat: no-repeat;
	background-position: right;
	float: left;
	font-size: 0.9em;
	margin-top: 10px;
	padding-left: 10px;
	border: 1px solid #e1e8ed;
	border-radius: 20px;
}
#content-wrapper {
	width: 76%;
	height: 500px;
	margin-top: 20px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #e1e8ed;
	border-radius: 6px;
	background-color: #ffffff;
}
#content-wrapper ul {
	margin-left: -40px;
}
#content-wrapper ul li {
	list-style-type: none;
	width: 120px;
	height: 130px;
	margin-left: 25px;
	margin-top: 30px;
	border-bottom: 1px solid #eee;
	float: left;
}
.content-display {
	width: 120px;
	height: 100px;
	border: 1px solid #e9e9e9;
}
h4 {
	margin-top: 2px;
	font-size: 0.9em;
}
h4 a {
	color: #669999;
	text-transform: capitalize;
	font-weight: lighter;
}
footer {
	width: 100%;
	height: 150px;
	margin-top: 20px;
	display: inline-block;
	border-top: 0.5px solid #c9c9c9;
}
#footer {
	margin-left: 5%;
}
#footer ul {
	margin-top: 30px;
}
#footer ul li {
	width: 100px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	list-style-type: none;
	text-align: center;
	height: 20px;
	background-color: #fff;
	padding-top: 2px;
	border: 1px solid #c0c0c0;
	border-radius: 20px;
}
#footer ul li a {
	color: #669999;
	font-size: 1em;
}
#footer ul li:hover {
	background-color: #f9f9f9;
	border: 1px solid #c0c0c0;
	border-radius: 20px;
}